.wrapper {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 5px;

  a {
    margin-right: 35px;
    color: rgba(255, 255, 255, 0.726);

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}
