.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.485);
  z-index: 10;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 26px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
  }
}
